<h1>GIAO DIỆN</h1>

<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- <article class="article button-action">
  <button mat-icon-button class="example-icon" (click)="openDialog()">
    <span>Thêm</span>
  </button>
  <button mat-raised-button >Thêm</button>
</article> -->
<button mat-raised-button (click)="openDialog()">Thêm</button><br />
<mat-form-field appearance="standard">
  <input matInput matInput (keyup)="applyFilter($event)" #input />
</mat-form-field>
<table mat-table [dataSource]="html" class="mat-elevation-z8 api">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>AGE</th>
    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>
  <ng-contaier matColumnDef="menu">
    <th mat-header-cell *matHeaderCellDef>Menu</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="deleteDialog(element)">Delete</button>
      <button mat-button (click)="editDialog(element)">Edit</button>
      <button mat-button (click)="InfoDialog(element)">Xem Thông Tin</button>
    </td>
  </ng-contaier>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<form [formGroup]="addformGroup">
  <input type="text" formControlName="name" />
  <input type="email" formControlName="email" />
  <input type="number" formControlName="age" />
</form>
